<ion-header-bar class="bar-assertive">
	<div class="header-section" style="background: #21db00; width: 100%; height: 69px;">
		<div class="co-xs-8">
		<a href="javascript: void(0)" ng-click="gotodashboard()" style="display: inline-block; padding: 21px 17px 8px; float: left;"> <img src="img/kushly-driver.png" style="height: 33px; max-width: 100%;"></a>
		</div>
		<div class="co-xs-4">
		    <div class="pull-right">
			</div>
		</div>
	</div>
</ion-header-bar>
<ion-view ng-controller="DashboardCtrl" ng-init="my_profile()">
    <div>
		<div class="mytabs">
			<div class="mytabshadow">
			<div class="mytab firsttab" ng-click="gotodashboard()"><i class="svg-delivery"><img src="img/delivery.svg" /></i></div>
			<div class="mytab" ng-click="togglePopover($event)"><i class="svg-toggle"><img src="img/toggle.svg" /></i></div>
			</div>
		</div>
        <ion-content class="padding has-header order-page">
		<div class="{{msgclass}}">{{error}}</div>
        <div class="all-orders-page orders-pad driver-block">
			<div class="breadcrumbs">
				<p class="light-gray text-center"><a class="active" href="javascript: void(0)">Driver Account</a></p>
			</div>
			<div class="all-orders pro-block profile-list">
				<div class="image text-center">
					<img src="img/300x300.png" class="driver-image img-responsive">
					<p class="text-center"><a class="text-green" href="#/logout">Logout</a></p>
				</div>
				<div class="pro-block-list">
				<div class="row-list">
						<span class="light-gray">Name:</span>
						<p class="ng-binding">{{myname}}</p>
				</div>
				<div class="row-list">
						<span class="light-gray">Phone:</span>
						<p class="ng-binding">{{myphon_no}}</p>
				</div>
				<div class="row-list-lastlast">
						<span class="light-gray">Email:</span>
						<p class="ng-binding">{{myemail}}</p>
				</div>
				</div>
			
			</div>
	   </div>
	   
	   
	   
	   
	   
	   
	   
	   
	   
	   
	   
	   </ion-content>
    </div>
</ion-view>