<ion-header-bar class="bar-assertive">
	<div class="header-section" style="background: #21db00; width: 100%; height: 69px;">
		<div class="co-xs-8">
		<a href="javascript: void(0)" ng-click="gotodashboard()" style="display: inline-block; padding: 21px 17px 8px; float: left;"> <img src="img/kushly-driver.png" style="height: 33px; max-width: 100%;"></a>
		</div>
		<div class="co-xs-4">
		    <div class="pull-right">
				<a ng-click="single_order()" class="headerlink"><i class="ion-ios-loop-strong" alt="Refresh" title="Refresh" style="font-size: 24px;"></i></a>
			</div>
		</div>
	</div>
</ion-header-bar>
<ion-view view-title="Order Details" ng-init="single_order()">
    <div>
	<div class="mytabs">
				<div class="mytabshadow">
				<div class="mytab firsttab" ng-click="gotodashboard()"><i class="svg-delivery"><img src="img/delivery.svg" /></i></div>
				<div class="mytab" ng-click="togglePopover($event)"><i class="svg-toggle"><img src="img/toggle.svg" /></i></div>
				</div>
			</div>
        <ion-content class="padding has-header order-page">
			<!-- <div class="text-center breadcrumbs">
				<p class="light-gray"><a href="#">all orders</a> / my assignments</p>
			</div> -->
			
			<div class="{{msgclass}}">{{error}}</div>
            <div class="all-orders-page orders-pad">
            	<div class="status-block text-center">
					<div ng-if="order_driver_status === 'allocated'">
						<h1>Delivery Pending Driver</h1>
						<span class="btn btn-green btn-block" ng-click="update_order_accept({{order.id}})">Accept</span>
						<span class="text-green text-uppercase" ng-click="update_order_decline({{order.id}})">Reject assignment</span>
					</div>
					<div ng-if="order_driver_status === 'rejected'">
						<h1>Order Rejected</h1>
					</div>
					<div ng-if="order_driver_status === 'accepted'">
						<h1>My Assignment</h1>
						<span class="btn btn-green btn-block" ng-click="update_order_confirm({{order.id}})"><strong>Confirm delivery</strong></span>
						<span class="text-green text-uppercase" ng-click="update_order_failure({{order.id}})"><strong>Report Failure</strong></span>
					</div>
					<div ng-if="order_driver_status === 'failure'">
						<h1>Order Failure Reported</h1>
					</div>
					<div ng-if="order_driver_status === 'delivered'">
						<h1>Order Confirmed</h1>
					</div>
				</div>
				<div class="all-orders">
					<div class="all-orders-item-title">
						<h1><small class="light-gray">Order#</small> {{order.id}}</h1>
					</div>
					<div class="all-orders-item">
					<img src="img/time.png"> {{order.order_date}} / {{order.order_time}}
					</div>
					<div class="all-orders-item">
						<img src="img/location-outline.png"> <span class="light-gray">From:</span><br>
						<p> {{location_from}}</p>
						<p><span class="light-gray">To:</span><br> {{location_to}}</p>
						<!--<p><a class="text-green" href="javascript: void(0)" ng-click="openlinkinbrowser('https://kushly.com/driver/map-view')">Directions</a></p>-->

						<p><a class="text-green" href="javascript: void(0)" ng-click="navigatethis(location_to);">Directions</a></p>

					
					</div>
					<div class="all-orders-item">
						<p><span class="light-gray">Delivery Estimate:</span><br> {{estimate_time}}</p>
						<p><a ng-show="estimate_status==0" class="text-green" href="javascript: void(0)" ng-click="change_estimate_time(order.id)">Change</a></p>
					</div>
					<div class="all-orders-item">
						<p><a class="text-green" href="javascript: void(0)" ng-click="openlinkinbrowser(view_url)"><strong>View Order Details</strong></a></p>
					</div>
				</div>
			</div>
		</ion-content>
    </div>
</ion-view>


