<div class="main-login-page">
<ion-view view-title="forgot password">
    <ion-content class="padding">
        <!--
		<div class="bar bar-header">
            <span ng-click="login.signout()" class="cancel-create">sign out</span>
            <button class="button button-calm" ng-click="login.anonymousLogin()">Guest login</button>

        </div> -->
        <div class="main-login">
            <form>
				<div class="main-login-header">
					<img src="img/kushly-driver.png" >
				</div>
                <div class="list">
					<label>
						<strong>Email</strong>
                        <input id="email" name="email" type="text" placeholder="Email" ng-model="data.forgetemail">
                    </label>
                </div>
                <div class="main-login-footer">
                    <button class="button button-positive" type="button" ng-click="forgetpass()">
                        Send Password
                    </button>
					<a href="#/login">login</a>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>
</div>