<ion-header>
  <ion-navbar color="primary">
    <ion-header-bar class="bar-assertive">
	<div class="header-section" style="background: #21db00;height: 51px;padding: 12px 17px 12px;width: 100%;">
		<div class="co-xs-8">
		<a href="#/orders"> <img src="img/kushly-driver.png" style="max-width: 55%;float: left;height: 33px;"></a>
		</div>
		<div class="co-xs-4">
			<div class="pull-right">
				<a ng-click="load_assignments()" class="headerlink"><i class="ion-ios-loop-strong" alt="Refresh" title="Refresh" style="font-size: 24px;"></i></a>
				<a ng-click="logout()" class="headerlinklast"><i class="ion-ios-locked-outline" alt="Logout" title="Logout" style="font-size: 25px;"></i></a>
			</div>
		</div>
	</div>
	</ion-header-bar>		
  </ion-navbar>
</ion-header>
<ion-view cache-view="false" view-title="Orders" ng-controller="DashboardCtrl" ng-init="load_assignments()">
    <div>
        <ion-content class="padding has-header order-page">
			<ion-refresher on-refresh="load_refresh_assignments()"></ion-refresher>
			<div class="text-center breadcrumbs">
			<p class="light-gray"><a href="#/orders">all orders</a> <span>/</span> <a class="active" href="#/assignments"> my assignments</a></p>
				<!-- <ul class="light-gray" style="display: inline">
                   <li href="#" class="active">all orders</li>
                   <li href="#">my assignments</li>
				</ul> -->
			</div>
			<div class="{{msgclass}}">{{error}}</div>
			<div class="all-orders-page">
				<div class="all-orders" ng-repeat="p in porders">
					<a href="#/orderdetail/{{p.id}}">
					<div class="all-orders-item-title">
						<h1><small class="light-gray">Order#</small> {{p.id}} <span class="pull-right"><i class="ion-ios-arrow-right text-green"></i></span></h1>
					</div>
					<div class="all-orders-item">
						<img src="img/time.png"> {{p.order_date}} / {{p.order_time}}
					</div> 
					<div class="all-orders-item">
						<img src="img/location-outline.png"> {{p.street_address}}
					</div>
					</a>
				</div>
			</div>
		</ion-content>
    </div>
</ion-view>