<ion-header>
  <ion-navbar color="primary">
    <ion-header-bar class="bar-assertive">
	<div class="header-section" style="background: #21db00; width: 100%; height: 69px;">
		<div class="co-xs-8">
		<a href="javascript: void(0)" ng-click="gotodashboard()" style="display: inline-block; padding: 21px 17px 8px; float: left;"> <img src="img/kushly-driver.png" style="height: 33px; max-width: 100%;"></a>
		</div>
		<div class="co-xs-4">
			<div class="pull-right">
				<a ng-click="load_assignments()" class="headerlink"><i class="ion-ios-loop-strong" alt="Refresh" title="Refresh" style="font-size: 24px;"></i></a>
			</div>
		</div>
	</div>
	</ion-header-bar>		
  </ion-navbar>
</ion-header>

 


<ion-view view-title="Orders" ng-init="load_assignments()">
    <div>
	<div class="mytabs">
				<div class="mytabshadow">
				<div class="mytab active firsttab" ng-click="gotodashboard()"><i class="svg-delivery"><img src="img/delivery.svg" /></i></div>
				<div class="mytab" ng-click="togglePopover($event)"><i class="svg-toggle"><img src="img/toggle.svg" /></i></div>
				</div>
			</div>
        <ion-content class="padding has-header order-page">
			
			<ion-refresher on-refresh="load_refresh_assignments()"></ion-refresher>
			<div class="text-center breadcrumbs">
			<p class="light-gray"><a href="javascript: void(0)" ng-click="gotodashboard()">all orders</a> <span>/</span> <a class="active" href="javascript: void(0)" ng-click="gotoassignments()"> my assignments</a></p>
				<!-- <ul class="light-gray" style="display: inline">
                   <li href="#" class="active">all orders</li>
                   <li href="#">my assignments</li>
				</ul> -->
			</div>
			<div class="{{assmsgclass}}">{{asserror}}</div>
			<div class="all-orders-page">
				<div class="all-orders" ng-repeat="p in passigns">
					<a href="#/orderdetail/{{p.id}}">
					<div class="all-orders-item-title">
						<h1><small class="light-gray">Order#</small> {{p.id}} <span class="pull-right"><i class="ion-ios-arrow-right text-green"></i></span></h1>
					</div>
					<div class="all-orders-item">
						<img src="img/time.png"> {{p.order_date}} / {{p.order_time}}
					</div> 
					<div class="all-orders-item">
						<img src="img/location-outline.png"> {{p.street_address}}
					</div>
					</a>
				</div>
			</div>
		</ion-content>
    </div>
</ion-view>