<ion-header-bar class="bar-assertive">
	<div class="header-section" style="background: #21db00;height: 51px;padding: 12px 17px 12px;width: 100%;">
		<div class="co-xs-8">
		<a href="#/dashboard"> <img src="img/kushly-driver.png" style="max-width: 55%;float: left;height: 33px;"></a>
		</div>
		<div class="co-xs-4">
		    <div class="pull-right">
				<span ng-click="load_orders()"><i class="ion-ios-loop-strong" alt="Refresh" title="Refresh" style="padding-right: 10px; font-size: 24px;"></i></span>
				<span ng-click="logout()"><i class="ion-ios-locked-outline" alt="Logout" title="Logout" style="font-size: 25px;"></i></span>
			</div>
		</div>
	</div>
</ion-header-bar>
<ion-view view-title="Items">
    <div>
        <ion-content class="padding has-header Assignments-detail">
			<div class="text-center breadcrumbs">
			<p class="light-gray"><a href="#/tabs/orderdetail">all orders</a> <span>/</span> <a class="active" href="#/tabs/assigndetail"> my assignments</a></p>
			</div>
            <div class="all-orders-page orders-pad">
            		<div class="status-block text-center">
					<h1>My Assignment</h1>
					<a href="#" class="btn btn-green btn-block"><strong>Confirm delivery</strong></a>
					<a class="text-green text-uppercase"><strong>Report Failure</strong></a>
				</div>
		        <div class="all-orders">
					<div class="all-orders-item-title">
						<h1><small class="light-gray">Order#</small> 123456789</h1>
					</div>
					<div class="all-orders-item">
					<img src="img/time.png"> 01.02.2018 / 12:00pm
					</div>
					<div class="all-orders-item">
						<img src="img/location-outline.png"> <span class="light-gray">From:</span><br>
						<p> REEF Las Vegas<br>1234 W. Address Rd.<br> City, State 56789</p>
						<p><span class="light-gray">To:</span><br> Ronny Bartkowiak<br>1234 W. Address Rd.<br> City, State 56789</p>
						<p><a class="text-green" href="#"><strong>Directions<strong></a></p>
					
					</div>
					<div class="all-orders-item">
						<p><span class="light-gray">Delivery Estimate:</span><br> 20 Minutes</p>
						<p><a class="text-green" href="#"><strong>Change</a></strong></p>
					</div>
					<div class="all-orders-item">
						<p><a class="text-green" href="#"><strong>View Order Details</strong></a></p>
					</div>
				</div>
			</div>
			</div>
		</ion-content>
    </div>
</ion-view>


