<div class="main-login-page">
<ion-view view-title="Login">
    <ion-content class="padding">
        <!--
		<div class="bar bar-header">
            <span ng-click="login.signout()" class="cancel-create">sign out</span>
            <button class="button button-calm" ng-click="login.anonymousLogin()">Guest login</button>

        </div> -->
		
        <div class="main-login">
            <form>
				<div class="main-login-header">
					<img src="img/kushly-driver.png" >
				</div>
                <div class="list">
					<label>
						<strong>Email</strong>
                        <input id="email" name="email" type="text" placeholder="Email" ng-model="data.useremail">
                    </label>
                    <label>
						<strong>Password</strong>
                        <input id="password" name="password" type="password" placeholder="password" ng-model="data.password">
                    </label>
                </div>
                <div class="main-login-footer">
                    <button class="button button-positive" type="button" ng-click="signin()">
                        Login
                    </button>
					<a href="#/forgot_pass">Forgot?</a>
                </div>
				<!--<a href="#/dashboard">Orders</a>-->
				
            </form>
        </div>
		
    </ion-content>
</ion-view>
</div>