<ion-header-bar class="bar-assertive">
	<div class="header-section" style="background: #21db00;height: 51px;padding: 12px 17px 12px;width: 100%;">
		<div class="co-xs-8">
		<a href="#/dashboard"> <img src="img/kushly-driver.png" style="max-width: 55%;float: left;height: 33px;"></a>
		</div>
		<div class="co-xs-4">
			<div class="pull-right">
				<span ng-click="logout()"><i class="ion-ios-locked-outline" alt="Logout" title="Logout" style="font-size: 25px;"></i></span>
			</div>
		</div>
	</div>
</ion-header-bar> 


<ion-view cache-view="false" view-title="Orders" ng-init="orderlocations()">
    <div>
        <ion-content class="padding has-header order-page">
			<div class="text-center breadcrumbs">
			<p class="light-gray"><a class="active" href="#/dashboard">all Locations</a></p>
			</div>
			<div class="all-orders-page">
				<div class="all-orders" ng-repeat="p in porders">
					<div class="all-orders-item-title">
						<h1><small class="light-gray">Order#</small> {{p.order_no}} <a class="pull-right" href="#/orderdetail/{{p.order_id}}"><i class="ion-ios-arrow-right text-green"></i></a></h1>
					</div>
					<div class="all-orders-item">
						<img src="img/time.png"> {{p.order_date}} / {{p.order_time}}
					</div> 
					<div class="all-orders-item">
						<img src="img/location-outline.png"> {{p.order_short_address}}
					</div>
				</div>
			</div>
		</ion-content>
    </div>
</ion-view>