<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<!--
<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <ion-tab title="Orders"  icon="ion-home" href="#/tabs/dashboard">
        <ion-nav-view name="tab-dashboard"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Login" icon="ion-log-in" href="#/tabs/login">
        <ion-nav-view name="tab-login"></ion-nav-view>
    </ion-tab>
</ion-tabs>
-->
<ion-tabs class="tabs-positive tabs-icon-top tabs-striped tabs-top tabs-background-positive tabs-color-light">

  	<ion-tab title="Orders" icon="ion-home" href="#/tabs/dashboard">
        <ion-nav-view name="tab-dashboard"></ion-nav-view>
    </ion-tab>

  	<ion-tab title="Login" icon="ion-log-in" href="#/tabs/dashboard">
        <ion-nav-view name="tab-dashboard"></ion-nav-view>
    </ion-tab>

</ion-tabs>