body{
    font-family: 'Lato', sans-serif;
}

/* Empty. Add your own CSS if you like */
.icon.new-item {
	position: absolute;
	right: 20px;
	font-size: 20px;
	bottom: 13px;
}
.cancel-create {
	position: absolute;
	right: 20px;
	font-size: 14px;
	bottom: 13px;
	color:#ef4e3a;
}
[ng-click], [data-ng-click], [x-ng-click] {
    cursor: pointer;
}
/* Ionic Overwrite! */
.item-icon-left .icon, .item-icon-right .icon {
	font-size: 22px;
}


.pane, .view {
	background-color: #eeeeee;
}
.padding {
    padding: 30px;
}


.main-login {
    padding: 70px 0px;
}
.main-login-page, .main-login-page .pane, .main-login-page .view {
	background-color:#21db00;
}
.main-login input {
    border: 2px solid #19a800;
    border-radius: 3px;
    color: #000;
    height: 50px;
    padding: 4px 15px;
    width: 100%;
	font-size: 14px;
}
.main-login strong {
    color: #19a800;
    display: inline-block;
    margin: 20px 0 10px;
    text-transform: uppercase;
    width: 100%;
	font-size: 12px;
}
.main-login input::-moz-placeholder, .main-login textarea::-moz-placeholder {
    color: #000;
    opacity: unset;
}
.button.button-positive, .button.button-positive:hover, .button.button-positive:focus {
    background-color: #231f20;
    border-color: #231f20;
    border-radius: 0;
    color: #fff;
    font-weight: bold;
    height: auto;
    min-height: auto;
    padding: 0 35px;
    text-transform: uppercase;
	font-family: 'Lato', sans-serif;
}
.main-login-footer a {
    color: #fff;
    float: right;
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
	font-family: 'Lato', sans-serif;
}
.main-login-header img {
    max-width: 81%;
}
.text-green{
	color:#21db00;
}
.pull-right{
	float:right;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	color: #111111;
}
.all-orders {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 0 9px #d3d3d3;
    margin: 0 0 20px;
    padding: 20px;
}
.all-orders-item-title{
	border-bottom: 1px solid #eeeeee;
    padding: 3px 0;
}
.all-orders-item {
    border-bottom: 1px solid #eeeeee;
    font-size: 14px;
    padding: 10px 4px 10px 28px;
	color: #231f20;
	min-height: 41px;
    position: relative;
}
.orders-pad .all-orders-item p a {
    font-weight: 800;
}
a {
    text-decoration: none;
    color: #aaaaaa;
}

.all-orders-item:last-child {
    border: medium none;
    margin: 0;
}
.light-gray {
    color: #aaaaaa;
}
.iow {
    display: inline-grid;
    text-align: center;
    width: 24px;
}
.all-orders-item .iow {
    left: 3px;
    position: absolute;
}
.all-orders-item p {line-height: 22px;font-weight: 500; font-size: 14px;}
.all-orders-item p:last-child {
    margin: 0;
}


.orders-pad .all-orders-item {
    padding: 18px 4px 18px 28px;
}
.orders-pad .all-orders-item-title {
    padding: 9px 0;
}

.all-orders-item-title h1 {
    color: #111111;
    font-size: 24px;
}
.all-orders-item-title h1 small {
    font-size: 14px;
	color: #aaaaaa !important;
}



.status-block {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 9px #d3d3d3;
    padding: 24px 20px;
}
.status-block h1 {
    font-size: 16px;
    margin: 0;
}
.btn-green {
    background: #21db00 none repeat scroll 0 0;
    color: #fff;
}
.btn {
	display: inline-table;
	font-size: 14px;
	font-weight: 800;
	letter-spacing: 2px;
	padding: 12px 20px;
	text-transform: uppercase;
}
.status-block .text-green {
    font-weight: 800;
    letter-spacing: 2px;
}
.btn-block {
    margin: 20px 0;
    width: 100%;
}

.text-uppercase{
	text-transform:uppercase;
}

b, strong {
    font-size: 14px;
    font-weight: 800;
}




.breadcrumbs p {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0 0 28px;
    text-transform: uppercase;
}
.breadcrumbs a{
	font-size: 14px;
   font-weight: 800;
   padding: 11px 0 5px;
}
.breadcrumbs a.active {
	border-bottom: 2px solid;
    color: #111111;
    font-weight: 800;
    text-decoration: none;
}
.breadcrumbs span {
    padding: 0 4px;
}


.scroll {
padding-top: 18px;
padding-bottom: 40px;
}

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) > * {
    margin-top: 0px;
}
.platform-ios.platform-cordova:not(.fullscreen) .bar-subheader, .platform-ios.platform-cordova:not(.fullscreen) .has-header, .platform-ios.platform-cordova:not(.fullscreen) .tabs-top > .tabs, .platform-ios.platform-cordova:not(.fullscreen) .tabs.tabs-top {
    top: 144px;
}



.tab-item .icon {
	font-size: 19px;
	padding-top: 11px;
    color: #231f20;
	}
	
	.list {
		margin-bottom: 30px;
	}

.pane, .view {

}
.order-page {
    padding: 17px 17px 50px;
}

.tabs {
	height: 60px;
}

.all-orders-item img {
	left: 0;
	margin-bottom: -3px;
	margin-right: 5px;
	max-width: 18px;
	padding-top: 1px;
	position: absolute;
}
.status-block h1 {color: #aaaaaa;}
.bar.bar-assertive {
    border: none;
    background: none;
    background:none;
    color: none;
    padding: 0px;
}
.tabs-top > .tabs, .tabs.tabs-top {
    top: 0px;
}

.tabs-striped.tabs-color-light .tab-item.activated, .tabs-striped.tabs-color-light .tab-item.active, .tabs-striped.tabs-color-light .tab-item.tab-item-active
{
    color: #000;
}

.tabs-striped.tabs-color-light .tab-item.activated, .tabs-striped.tabs-color-light .tab-item.active, .tabs-striped.tabs-color-light .tab-item.tab-item-active{
    border-bottom: 0px solid #000;
}

.tabs-striped.tabs-background-positive .tabs {
    background-color: #fff;border-bottom: 1px solid #fff;box-shadow: 0 0 9px #e0e0e0;
}

.tabs-top.tabs-striped .tab-item.activated > .badge, .tabs-top.tabs-striped .tab-item.activated > i, .tabs-top.tabs-striped .tab-item.active > .badge, .tabs-top.tabs-striped .tab-item.active > i, .tabs-top.tabs-striped .tab-item.tab-item-active > .badge, .tabs-top.tabs-striped .tab-item.tab-item-active > i {
    margin-top: 5px;
}

.errormsg {
    text-align: center;
    font-size: 18px;
}
.errorlabel {
	color: red;
	text-align: center;
}
.my-custom-popup .button-positive, .my-custom-popup .button-positive:hover {
    font-size: 14px;
    background: #21db00 none repeat scroll 0 0;
    color: #fff;
	border: none
}
.my-custom-popup .button-default, .my-custom-popup .button-default:hover {
    color: #21db00;
	border: none;
	background: none;
}
.my-custom-popup .popup {
    background: #fff none repeat scroll 0 0;
}
.my-custom-popup select, .my-custom-popup input {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #21db00;
    margin: 5px 0;
    width: 100%;
	height: 30px;
}
.headerlink {
	color: #fff;
    display: inline-block;
    padding: 22px 13px 14px;
	margin-right: 7px;
}
.headerlinklast {
	color: #fff;
    display: inline-block;
    padding: 22px 12px 14px;
}


.mytab {
    background: #fff none repeat scroll 0 0;
    border-bottom: 3px solid #fff;
    float: left;
    padding: 11px;
    text-align: center;
    width: 50%;
}
.has-header {
    top: 145px;
}

.mytabs {
    margin: 70px -16px 35px;
}
.mytab.active {
    border-color: #000 #ccc #000 #000;
}
.mytab.firsttab {
	border-right: 1px solid #ccc;
}
.mytab img {
    opacity: 0.5;
}
.mytab.active img {
    opacity: unset;
}
.mytabshadow {
	box-shadow: 0 6px 6px #ccc;
	overflow: hidden;
}

.svg-delivery img {
    padding: 5px 0px;
}
.svg-toggle img {
    width: 23px;
    padding: 10px 0px;
}

.popover.none.ng-enter.active.ng-enter-active {
    height: 96px;
    background: #ffffff;
}
.popover.none.ng-enter.active.ng-enter-active .scroll {
	padding:0;
}
.popover.none.ng-enter.active.ng-enter-active a {
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
    display: block;
}

.driver-image {
    border-radius: 130px;
    height: 140px;
    width: 140px;
}
.driver-block .status-block {
    padding: 8px 14px;
}
.driver-block hr {
    border-color: #fff;
    color: #fff;
}
.driver-block h3 {
    font-size: 20px;
	font-weight: 600;
}
.hours-list{
	width: 50%;
	
}
.hours-list select{
	width: 30%;
}
.minutes-list select{
	width: 25%;
}
.image.text-center {
    padding-top: 10px;
}
.image p a {
     font-size: 14px;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 38px;
    text-transform: uppercase;
}

.profile-list .row-list{
	padding-bottom: 12px;
	margin-top: 12px;
}
.profile-list .row-list p{
	margin:0px;
}

.row-list {
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 10px;
}
.row-lit .ng-binding {
    text-transform: capitalize;
}
.pro-block-list {
    padding: 16px 0 0;
}